.post {
  display: grid;
  grid-template-columns: minmax(290px, 400px) 1fr;
  grid-gap: 30px;
  margin-bottom: 30px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(187, 187, 187);
}

@media (max-width: 768px) {
  .post {
    grid-template-columns: 1fr;
  }
}
